* {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../images/lobby2.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0%;
font-family: 'Alegreya Sans', sans-serif;
}

header {
  padding-left: 2%;
  padding-top: 1%;
  font-size: 90px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  width: 70%;
  height: 50%;
  margin: 0%;
  filter: drop-shadow(2px 3px 3px white);
}



.mid-container{
  display: flex;
  height: 25%;
  width: 100%;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  width: 100%;
  padding-top: 1%;
}

.img-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 50%;
  width: 100%;
}

input {
  border: 1px solid black;
  border-radius: 3%;
}
.img1,
.img2,
.img3,
.img4,
.img5
{
  /* border: 1px red solid; */
  background: url('../images/stairs.png');
  background-size: 100% 100%;
  height: 360px;
  width: 310px;
  background-repeat: no-repeat;
  margin: 2em;
  border-radius: 4%;
    filter: drop-shadow(2px 3px 3px black);
}

.img2 {
  background: url('../images/residential\ suite.png');
  background-size: 100% 100%;
  margin-bottom: 7%;
}

.img3 {
  background: url('../images/lobby.png');
  background-size: 100% 100%;
  margin-top: 7%;
}

.img4 {
  background: url('../images/king.png');
  background-size: 100% 100%;
margin-bottom: 7%;
}

.img5 {
  background: url('../images/queen.png');
  background-size: 100% 100%;

}

.img:hover {
  transform: scale(1.3);
}

.nav {
  display: flex;
  height: 100%;
  width: 25%;
  border: 2px solid;
  justify-content: center;
  border: none;
}

.booking {
  width: 60%;
  align-self: center;
  filter: drop-shadow(2px 3px 3px black);
}

.booking:hover{
  transform: scale(1.2)
}
.nav-button{
  width: 30%;
}


.booking-tab {
 display: flex;
flex-direction: column;
  height: 30%; 
  width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  height: 100%;
  width: 100%;
}

.calendar{
  height: 30%;
  width: 30%;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
}

.calendar-error {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  color: firebrick;
  font-size: x-large;
  font-weight: bolder;
}

.login-portal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  filter: drop-shadow(2px 3px 3px black);
}

.login-btn {
  align-self: center;
 margin-top: 8%;
  width: 50%;
  font-size: larger;
}

.portal-container {
  display: flex;
  width: 35%;
  height: 75%;
  flex-direction: column;
  padding: 2%;
  background: whitesmoke;
  align-self:center;
  justify-content:center;
  border-radius: 10%;
}
.portal-container input{
  height: 15%;
  width: 80%;
  padding: 2%;
  border-radius: 5%;
}
.room-types {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
}

button{
  width: 20%;
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #36395A;
  display: inline-flex;
  height: 65%;
  justify-content: center;
  transition: box-shadow .15s, transform .15s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-size: 20px;
  border: none;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  cursor: pointer;
}
  
.close-error {
  background: none;
  padding-left: 27%;
  box-shadow: none;
}

.close-error:hover {
  box-shadow: none;
}

.booking-error {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  color: firebrick;
  font-weight: bolder;
  padding-left: 2%;
  text-align: center;
}


.close-portal {
  align-self: center;
  text-align: right;
  font-size: large;
  box-shadow: none;
  background: none;
  padding-left: 30%;
}

.close-portal:hover{
  box-shadow: none;
}



.login-error {
  color: firebrick;
  font-size: larger;
}

.search-dates {
  width:15%;
  height:20%;
}

.filtered-results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.current-points{
  display: flex;
  font-size: x-large;
  text-align: center;
  font-weight: bolder;
  align-items: flex-start; 
  justify-content:center;
  padding-top: 3%;
  padding-right: 1%;
}

.room-details{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/king.png');
  background-size: cover;
  width: 200px;
  height: 230px;
  text-align: center;
  border-radius: 10%;
  filter: drop-shadow(2px 3px 3px black);
  padding: 2%;
  margin-top: 2%;
}

.room-details:hover{
  transform: scale(1.2);
}

.calendar {
  height: 30%;
  width: 30%;
  text-align: center;
  font-size: xx-large;
  cursor: pointer;
}

.room-details p{
  padding: 1%;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-weight: bolder;
  font-size:x-large;
}

.hidden{
  display:none;
}